
<div class="card m-3 ">
  <div class="row no-gutters">
    <div class="col-md-12">
        <div class="card-body">
          <h5 class="card-title">{{singleHero.name}}</h5>
          <p class="card-text"> <small class="text-secondary font-italic"> Պարգևատրվել է: {{singleHero.gettingDate}} </small></p>
          <p class="card-text"><small class="text-secondary font-italic"> Ապրել է: {{singleHero.birthDay}}
            -{{singleHero.deathDay}}</small></p>
        </div>
    </div>
  </div>
</div>




