
<div class="card m-3 shadow-lg myCardHeight">
  <div class="row no-gutters">


        <div class="col-md-3">
          <img src="{{singleHero.img}}"
               class="card-img " alt="{{singleHero.name}}">
        </div>

        <div class="col-md-8">

          <div class="card-body" >
          <h5 class="card-title">{{singleHero.name}}</h5>
          <p class="card-text text-secondary font-italic">  <small class="coltag">Պարգևատրվել է:</small> {{singleHero.gettingDate}}</p>
          <p class="card-text text-secondary font-italic"><small class="coltag"> Ապրել է: </small> {{singleHero.birthDay}}
            -{{singleHero.deathDay}}</p>
          <p class="card-text text-secondary font-italic"> <small class="coltag">Ծննդավայր: </small>   {{singleHero.placeofbirth}}</p>
          <p class="card-text text-secondary font-italic"> <small class="coltag"> Հիմնավորումը: </small>   {{singleHero.forWhat}}  </p>
            <app-edit-modal

            ></app-edit-modal>
            <button type="button" class="btn btn-outline-danger " (click)="deleteWhenClicking()">Delete</button>

          </div>
        </div>

    </div>
  </div>










